body {
    display: flex;
    flex:1;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

}
#user{

}

#first_div{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    background-color: sandybrown;
    justify-content: space-evenly;
}
#second_div{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

.login_button{

}

.text_login{

}